:host {
  position: relative;

  ::ng-deep {
    mat-radio-group {
      &:not(.vertical) mat-radio-button {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }

      &.vertical {
        mat-radio-button {
          display: block;
          margin: 0;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &.position-top {
        .mat-internal-form-field {
          align-items: flex-start;

          .mdc-label {
            padding-top: 10px;
          }
        }
      }
    }
  }
}
