:host {
  position: relative;

  ::ng-deep {

    .mat-radio-group {

      .mat-radio-label {
        white-space: normal;
        min-height: 22px;
      }

      .mat-radio-label-content {
        line-height: 22px;
      }

      &:not(.vertical) .mat-radio-button {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }

      &.vertical {
        .mat-radio-button {
          display: block;
          margin: 10px 0;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .position-top {
      .mat-radio-label {
        align-items: flex-start;
      }
    }
  }
}
