:host {
  position: relative;

  ::ng-deep {
    mat-radio-group {
      &:not(.orientation-vertical) mat-radio-button {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }

      &.orientation-vertical {
        mat-radio-button {
          display: block;
          margin: 0;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .mat-internal-form-field {
            align-items: flex-start;

            label.mdc-label {
              padding-top: calc((var(--mdc-radio-state-layer-size) - 20px) / 2);
            }
          }
        }
      }
    }
  }
}
