<form
  fsForm
  [dirtySubmitButton]="false">
  <fs-radio-group
    [(ngModel)]="selectedHorizontal"
    [compareWith]="compareWith"
    label="Radio Buttons"
    name="horizontal"
    [required]="true">
    @for (item of items; track item) {
      <mat-radio-button
        [value]="item">
        {{ item.name }}
      </mat-radio-button>
    }
    <mat-hint>
      Hint hint hint!
    </mat-hint>
  </fs-radio-group>
  <button
    type="submit"
    mat-flat-button
    color="primary">
    Save
  </button>
  <fieldset>
    <legend>
      Selected
    </legend>
    {{ selectedHorizontal | json }}
  </fieldset>
</form>