<div class="overview">
    <h1>Overview</h1>
    <li><b>npm run serve</b> Starts the playground web server</li>
    <li><b>npm run package</b> Builds the NPM package for publishing</li>
    <li><b>npm run demo</b> Builds the demo site</li>
    <li><b>npm run lint</b> Validates the NPM package</li>    
</div>

<fs-component-examples>

    <div class="example">
        <fs-component-example fsTitle="Horizontal Checkboxes" fsHtml="..." fsTs="..." fsCss="...">     
            <horizontal></horizontal>
        </fs-component-example>  
    </div>  

    <div class="example">
        <fs-component-example fsTitle="Vertical Checkboxes" fsHtml="..." fsTs="..." fsCss="...">     
            <vertical></vertical>
        </fs-component-example>  
    </div>  

</fs-component-examples>