:host {
  position: relative;
  padding-top: .84375em;
  min-height: 30px;
  display: inline-block; }

.mat-form-field-label {
  display: block;
  top: 0;
  transform: scale(0.75) translateZ(0.001px);
  transform-origin: 0 0; }

:host ::ng-deep .mat-radio-label {
  line-height: 29px; }

:host ::ng-deep mat-radio-group:not(.vertical) mat-radio-button {
  margin-left: 15px; }
  :host ::ng-deep mat-radio-group:not(.vertical) mat-radio-button:first-child {
    margin-left: 0; }

:host ::ng-deep mat-radio-group.vertical mat-radio-button {
  display: block; }

:host ::ng-deep mat-radio-group mat-hint {
  font-size: 75%;
  font-weight: 400;
  line-height: 1.125;
  display: block;
  margin-top: 0.54166667em; }
